@import './styles.css';
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.4em);
  --header-color: #021C1E;
  --header-shade: #004445;
  --lighter-color: #2c7873;
  --hover-color: hsl(0, 0%, 90%);
  --hover-background: #206566;
  --form-colors: hsl(0, 0%, 90%);
  scroll-behavior: smooth;
  color: var(--header-color);
  font-family: sans-serif
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--header-color);
  color: var( --form-colors);
  height: 12vh;
  padding: 0.5em;
  position: relative;
  display: flex;
  justify-content: center;
}

header>.logo {
  margin: 0 auto;
  height: 100%;
  display: inline-flex;
}

header>.logo>a {
  display: flex;
  text-decoration: none;
  height: 100%;
  justify-content: center;
}

.logo>a>img {
  border-radius: 20%;
  padding-top: 0.1%;
  height: 100%;
  object-fit: contain;
}

.logo>a>span {
  display: inline-block;
  color: white;
  transform: translateY(40%);
  white-space: nowrap;
  padding-left: 0.1em;
}

#hamburger {
  display: block;
  position: absolute;
  top: 30%;
  right: 2%;
  z-index: 2;
  user-select: none;
}

#hamburger input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  padding: 0.5em;
  color: var(--form-colors);
}

.gallery-in {
  display: none;
}

.navbar {
  margin: 0;
  list-style: none;
  background-color: var(--header-shade);
  color: var(--form-colors);
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  display: none;
  text-transform: uppercase
}

.navbar>li {
  list-style: none;
  background-color: var(--header-shade);
  display: flex;
}

.navbar>li>a {
  text-decoration: none;
  color: var(--form-colors);
  padding: 1em;
  display: block;
  width: 100%
}

.navbar>li:hover {
  background-color: var(--hover-background);
  color: var(--hover-color);
  cursor: pointer;
}

.navbar-in>.signout-navbar-one,
.navbar>.signout-navbar-two,
.navbar>.dashboard-two,
.navbar>.dashboard-one {
  display: none;
}

#hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  background-color: var(--form-colors);
  transform-origin: 4px 0px;
  transition: transform 0.1s linear, background 0.1s linear, opacity 0.1s linear;
}

#hamburger span:first-child {
  transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(1) {
  transform-origin: 0% 100%;
}

#hamburger input:checked~span {
  opacity: 1;
  transform: rotate(-45deg) translate(0, 2px);
  background: var(--form-colors);
}

#hamburger input:checked~span:nth-last-child(3) {
  transform: rotate(45deg) translate(0, 0);
  background: var(--form-colors);
}

#hamburger input:checked~span:nth-last-child(2) {
  opacity: 0;
  transform: translateX(-5px);
}

#hamburger input:checked~ul {
  opacity: 0;
  transform: translateX(-5px);
}

.login-form {
  text-align: center;
  padding: 3em 1em;
  background-color: var(--form-colors);
  border: solid 0.5em var(--header-color);
  width: 60%;
  margin: 2em auto;
}

.email-field {
  margin: 0 auto 2em;
}

.password-field {
  margin-bottom: 2em;
}

.account-form p {
  margin: auto;
  padding-bottom: 0.5em;
  color: var(--header-color);
  text-transform: uppercase;
}

.account-form p:not(.account-form>p:last-child) {
  text-transform: uppercase;
}

.account-form input {
  margin: auto;
  border: none;
  padding-top: 0.5em;
  border-bottom: solid 1px var(--header-color);
  background-color: var(--form-colors);
  text-align: center;
  outline: none;
}

.login-submit-button {
  padding: 0.6em 5em;
  background-color: var(--header-shade);
  color: var(--form-colors);
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 2em;
}

.footer-message>.login-footer {
  margin-top: 1em;
  text-transform: lowercase;
  text-align: center;
  font-size: x-small
}

#footer-message .message {
  margin-top: 1em;
  text-align: center;
  text-transform: initial;
}

.forgot {
  margin-bottom: 1em;
}

.signup-form {
  text-align: center;
  padding: 2em 1em;
  border: solid 0.5em var(--header-color);
  width: 85%;
  margin: 2em auto;
}

.signup-form>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  text-align: start;
}

.signup-form>p:first-child {
  margin-bottom: 1em;
}

.signup-form>div>p {
  text-align: start;
  margin-bottom: 0.2em;
  text-transform: uppercase
}

.signup-form>div>p>span {
  padding-left: 0.1em;
  color: red
}

.signup-form>div>input {
  border: solid 1px var(--header-color);
  background-color: var(--form-colors);
  padding: 0.5em;
  outline: none;
}

#signup-button {
  border: none;
  padding: 0.6em 0;
  outline: none;
  text-transform: uppercase;
  background-color: var(--header-shade);
  color: var(--form-colors);
  cursor: pointer;
  margin-top: 0.5em;
}

.user-type>input {
  margin-left: 0.3em
}

a {
  color: #6fb98f
}

#hamburger.property-form {
  right: 88%;
}

.main-form {
  width: 100vw;
  height: 88vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-form>div:first-child {
  width: 300vw;
  height: inherit;
  border-radius: 0.2em;
  display: inline-flex;
  overflow-x: hidden;
}

.first-div {
  width: 100vw;
  padding: 0 5em;
  opacity: 1;
  transition: opacity 0.7s linear;
}

.second-div {
  width: 100vw;
  padding: 0 5em;
  position: absolute;
  top: 0;
  height: 80%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  left: 100vw;
  transition: opacity 0.7s linear;
}

.third-div {
  width: 100vw;
  padding: 0 5em;
  position: absolute;
  opacity: 0;
  left: 200vw;
  transition: opacity 0.7s linear;
  text-align: center
}

.first-div>p:first-child {
  text-align: center;
  margin: 1em;
}

.first-div>div {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

select,
input {
  background-color: var(--form-colors);
  outline: none;
  padding: 0.2em
}

.first-div>div>span {
  margin-bottom: 0.2em;
  text-align: center;
  font-size: 0.8rem;
}

.first-div>div>input {
  margin-bottom: 1em;
}

.first-div>div>div {
  outline: none;
  text-align: center;
  margin-bottom: 1em;
  font-size: 0.8rem;
}

.first-div>div>select {
  margin-bottom: 1em;
}

.first-div>div>div>input {
  margin-right: 0.5em;
  margin-left: 0.3em;
  color: #fff;
  background: #fff;
}

.first-div>span:first-child {
  margin-bottom: 0.5em;
}

.second-div>p:first-child {
  padding-top: 0.2em;
  text-align: center;
}

.second-div>div {
  display: flex;
  flex-direction: column;
  height: 95%
}

textarea {
  resize: none;
  outline: none;
}

.second-div>div>span {
  margin-top: 0.4em;
  font-size: 0.8rem;
}

.third-div>input {
  margin-bottom: 0.8em;
  border: solid 1px gray;
}

.third-div>input:last-child {
  border: none;
  outline: none;
  padding: 0.5em 2.5em;
  color: #fff;
  background: var(--header-color);
  transition: background 0.4s linear;
}

.third-div>input:last-child:hover {
  background: #fff;
  color: var(--header-color);
  border: var(--header-color) solid 1px;
  cursor: pointer;
}

.third-div>input:last-child:active {
  color: #fff;
  background: var(--header-color);
  cursor: pointer;
}

.third-div>p:first-child {
  margin: 1em 0 2em;
  text-align: center;
}

.address-field {
  outline: none;
}

.buttons-div {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.buttons-div>span {
  padding: 0.6em 2em;
  margin-right: 0.6em;
  text-transform: uppercase;
  background-color: var(--form-colors);
  cursor: pointer;
  outline: none;
  border: none;
}

.buttons-div>.next-button {
  background: #fff;
  color: var(--header-color);
  border: var(--header-color) solid 1px;
  border-radius: 0.2em;
}

.buttons-div>.next-button:active {
  color: #fff;
  background: var(--header-color);
  cursor: pointer;
}

.buttons-div>span:first-child {
  display: none;
  background: #fff;
  color: var(--header-color);
  border: var(--header-color) solid 1px;
  border-radius: 0.2em;
}

.buttons-div>span:first-child:active {
  color: #fff;
  background: var(--header-color);
  cursor: pointer;
}

.buttons-div>span:nth-child(3) {
  display: none;
  color: #fff;
  background: var(--header-color);
  border-radius: 0.2em;
}

.buttons-div>span:nth-child(3):hover {
  background: #fff;
  color: var(--header-color);
  border: var(--header-color) solid 1px;
  cursor: pointer;
}

.buttons-div>span:nth-child(3):active {
  color: #fff;
  background: var(--header-color);
  cursor: pointer;
}

footer {
  background-color: var(--header-color);
  color: var(--form-colors);
}

footer>p {
  padding: 0.5em;
  text-align: center;
  margin: 0;
  font-size: small;
}

footer>h4 {
  padding-top: 1em;
  color: var(--header-color);
  text-align: center;
  margin: 0;
}

footer>div {
  background: var(--header-color);
  padding: 0.5em;
  text-align: center;
  word-break: break-all;
}

footer>div>i {
  color: var(--form-colors)
}

footer>div>div {
  color: var(--form-colors);
  margin-top: 0.5em
}

footer>div:last-child>div>a {
  text-decoration: none;
  padding: 0 0.5em
}

footer>div:last-child>p {
  font-size: small;
  margin: 0;
}

footer>div>span {
  color: var(--form-colors);
  text-align: center;
  padding: 0.5em;
}

@media(min-width: 30em) {
  body {
    padding: 0;
    margin: 0;
  }
  .signup-form {
    width: 40%;
  }
  #hamburger.property-form {
    right: 92%;
  }
  .login-form {
    width: 40%;
  }
  .gallery-in {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    height: 100%;
    width: 80%;
    padding: 0.5em
  }
  .navbar {
    display: none !important;
  }
  .navbar-in {
    list-style: none;
    flex-direction: row;
    display: inline-flex !important;
    background: none;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    align-items: center;
  }
  .navbar-in>li {
    padding: 0;
    flex: 1;
    text-align: center;
    font-weight: normal;
    color: var(--lighter-colors);
    min-width: 0;
    min-height: 0;
    transition: background 0.4s linear;
  }
  .navbar-in>li>a {
    padding: 1em;
    text-decoration: none;
    color: var(--form-colors);
  }
  .navbar-in>li>a:hover {
    background-color: var(--hover-background);
    color: var(--hover-color);
    cursor: pointer;
  }
  header>.logo {
    margin-left: 0.5em;
    min-height: 0;
    width: 20%;
    justify-content: space-around;
  }
  header>.logo>a {
    justify-content: center;
  }
  header>.logo>a>span {
    flex: 1;
    white-space: nowrap;
  }
  .navbar>li {
    flex: 1;
    text-align: center;
    padding: 0.5em;
    text-transform: initial;
    font-weight: normal;
    height: 100%;
  }
  #hamburger {
    display: none;
  }
  .navbar-in>.list-property {
    flex: 2
  }
  #hamburger input {
    display: none !important;
  }
  header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

@media(min-width: 50em) {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
}