@import "./homepage.css";
.my-list-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  margin-bottom: 3em;
}

.listings {
  margin-right: 0.5em;
  margin-top: 1em;
  border: solid 1px black;
  padding: 0.2em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  width: 90vw;
  border-radius: 0.4em;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1em;
}

.listings>div:first-child {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

.listings>div:first-child>img {
  min-width: 150px;
  height: 100px;
  margin: 0 auto;
  object-fit: cover
}

.listings>.sold-notification {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 2;
  font-weight: bold
}

.listings>div:nth-child(2) {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listings>div:nth-child(2)>span {
  /* flex-basis: 30% */
}

.listings>div:nth-child(2)>div {
  white-space: pre;
}

.listings>div:nth-child(2)>span {
  text-align: center;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border: 1px solid gray;
  margin: 0.3em;
}

.listings>div:nth-child(2)>span:nth-child(2) {
  flex: 1;
  background-color: red;
  color: #fff;
}

.listings>div:nth-child(2)>span:nth-child(3) {
  flex: 1;
  background-color: rgb(255, 154, 0);
  color: rgb(22, 15, 67);
}

.listings>div:nth-child(2)>span:first-child {
  flex: 1;
  background-color: var(--header-color);
  color: #fff;
}

@media(orientation: landscape) and (max-width: 823px) {
  .listings>div:first-child>img {
    object-fit: contain
  }
  .listings>div:first-child {
    font-size: 1rem;
  }
  .listings>div:nth-child(2) {
    font-size: 0.9rem
  }
  .listings>div:nth-child(2)>span:nth-child(3) {
    flex: 2;
  }
}

@media(min-width: 480px) {
  .listings {
    width: 48%
  }
}

@media(min-width: 768px) {
  .listings>div:first-child {
    font-size: 1rem;
  }
  .listings>div:first-child>img {
    height: 200px;
  }
  .listings>div:nth-child(2)>span:nth-child(3) {
    flex: 2;
  }
}

@media(min-width: 1024px) {}