@import './homepage.css';
.property-display-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-between;
  overflow-x: hidden;
  padding: 1em;
  min-height: 100vh;
}

.property-display-container>div+div {
  margin-top: 1em;
}

#display-image {
  background: url(../img/lake-geneva.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 40vh;
}

#display-image>h2 {
  text-transform: uppercase;
  padding-top: 2em;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5em;
  font-size: x-large;
  text-shadow: 1em 1em 0.5em black;
}

#display-image>p {
  text-transform: uppercase;
  font-size: small;
  padding-top: 1em;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5em;
  text-shadow: 0.2em 0.2em 0.5em var(--header-color);
}

.rent-card {
  height: 65vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 0.5em;
  white-space: nowrap;
}

.sale-card {
  height: 65vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 0.5em;
  white-space: nowrap;
}

.short-let-card {
  height: 65vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 0.5em;
  white-space: nowrap;
}

.display-rent {
  height: 99%;
  margin: 0 0.5em;
  width: calc(100% - 0.5em);
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 0.2em 0 black;
  border-radius: 0.2em;
}

.display-rent>div:first-child {
  width: 98%;
  height: 55%;
  margin: 0 auto;
}

.display-rent>div:first-child>img {
  height: 95%;
  width: 100%;
  object-fit: cover;
}

.display-sale {
  height: 99%;
  margin: 0 0.5em;
  width: calc(100% - 0.5em);
  display: inline-block;
  text-align: center;
  box-shadow: 0 0 0.2em 0 black;
  border-radius: 0.2em;
}

.display-sale>div:first-child {
  width: 98%;
  height: 55%;
  margin: 0 auto;
}

.display-sale>div:first-child>img {
  height: 95%;
  width: 100%;
  object-fit: cover;
}

.display-let {
  height: 99%;
  margin: 0 0.5em;
  width: calc(100% - 0.5em);
  display: inline-block;
  text-align: center;
  box-shadow: 0 0 0.2em 0 black;
  border-radius: 0.2em;
}

.display-let>div:first-child {
  width: 98%;
  height: 55%;
  margin: 0 auto;
}

.display-let>div:first-child>img {
  height: 95%;
  width: 100%;
  object-fit: cover;
}

#search-form {
  display: flex;
  padding: 1em 0.5em;
}

#search-form>select {
  padding: 0.5em;
  min-height: 0;
  min-width: 0;
}

#search-form>button {
  padding: 0.5em 1em;
  background-color: var(--lighter-color);
  color: var(--form-colors);
  outline: none;
  border: none;
}

.view-property {
  margin: 0.5em;
  padding: 0.5em 1.5em;
  outline: none;
  border: none;
  background-color: var(--lighter-color);
  color: var(--form-colors);
  transition: background 0.3s linear, border 0.3s linear, color 0.3s linear;
  min-width: 0;
  width: 90%;
  margin: auto;
  border-radius: 0.2em;
}

.view-property:hover {
  cursor: pointer;
  background-color: var(--form-colors);
  color: var(--lighter-color);
  border: var(--lighter-color) 1px solid;
  border-radius: 0.3em;
}

.property-detail-card {
  height: 30%;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  /* line-height: 1.5 */
}

.property-detail-card>p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.property-detail-card>p {
  margin: 0;
}

.property-detail-card>p:nth-child(3) {
  margin-top: 0.5em
}

.rent-card>a {
  position: absolute;
  background-color: white;
  font-size: large;
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  scroll-behavior: smooth;
}

.sale-card>a {
  position: absolute;
  background-color: white;
  font-size: large;
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.short-let-card>a {
  position: absolute;
  background-color: white;
  font-size: large;
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.rent-card>a {
  padding: 0.7em;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
}

.sale-card>a {
  padding: 0.7em;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  transition: background 0.4s linear;
}

.short-let-card>a {
  padding: 0.7em;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  transition: background 0.4s linear;
}

a.next-arrow {
  top: 40%;
  right: -3px;
  background-color: rgb(0, 0, 0, 0.2);
  transition: background 0.4s linear;
}

a.next-arrow:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.7);
}

a.previous-arrow {
  top: 40%;
  left: -3px;
  background-color: rgb(0, 0, 0, 0.2);
  transition: background 0.4s linear;
}

a.previous-arrow:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.7);
}

.number-of-images {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6)
}

section {
  padding: 1em;
}

section>h4 {
  padding: 0;
  margin: 0;
  text-align: center
}

@media(orientation: landscape) and (max-width: 823px) {
  .property-detail-card {
    font-size: 1rem;
    line-height: 1.2
  }
}

@media(min-width: 480px) {
  .rent-card {
    display: inline-block;
    text-align: center;
  }
  .sale-card {
    display: inline-block;
    text-align: center;
  }
  .short-let-card {
    display: inline-block;
    text-align: center;
  }
  .display-rent {
    width: 49%;
    margin: 0 2% 0 0;
    padding-bottom: 1em
  }
  .display-sale {
    width: 49%;
    margin: 0 2% 0 0;
    padding-bottom: 1em
  }
  .display-let {
    width: 49%;
    margin: 0 2% 0 0;
    padding-bottom: 1em
  }
  #search-form>select {
    flex-basis: 30%;
  }
}

@media (min-width: 50em) {
  .display-rent {
    width: 23%;
    margin: 0 2% 0 0;
  }
  .display-sale {
    width: 23%;
    margin: 0 2% 0 0;
  }
  .display-let {
    width: 23%;
    margin: 0 2% 0 0;
  }
  .property-detail-card>p {
    font-size: 0.8rem;
  }
}